<?xml version="1.0" encoding="UTF-8"?>
<module title="[ROOMS]" name="room" multi="1" library="0" dashboard="1" icon="bed" ranking="1" home="1" main="0" validation="1" dates="0" release="0" index="0.2">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="20" resizing="1">
		<big maxw="1400" maxh="800"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="300" maxh="300"/>
	</medias>
	<list order="rank">
		<filter label="[HOTEL]" name="id_hotel">
            <options table="pm_hotel" fieldlabel="title" fieldvalue="id" order="title"></options>
        </filter>
        <col label="[HOTEL]" name="id_hotel" table="pm_hotel" fieldvalue="title" fieldref="id"/>
		<col label="[TITLE]" name="title" type="none"/>
        <col label="Floor" name="id_type" table="pm_floors" fieldvalue="name" fieldref="id"/>
		<col label="[PRICE_PER_NIGHT]" name="price" type="price"/>
		<!--<col label="[MAX_PEOPLE]" name="max_people" type="none"/>-->
	</list>
	<form>

        <field multi="0" label="parentDiv" name="div_start" type="divstart" required="0" unique="0" validation="none"/>
	    <field multi="0" label="[ROOM_DETAILS]" name="s1" type="separator" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start1" type="divstart" required="0" unique="0" validation="none"/>
	    <field multi="1" label="Room Type" name="title" type="text" required="1" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end1" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start2" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="1" label="[SUBTITLE]" name="subtitle" type="text" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end2" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start3" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="1" label="[ALIAS]" name="alias" type="alias" required="1" unique="1" validation="none"/>
        <field multi="0" label="Div End" name="div_end3" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start4" type="divstart" required="0" unique="0" validation="none"/>
		<!-- <field multi="0" label="room_details_start" name="st0" type="start" required="0" unique="0" validation="none"/> -->
        <field multi="0" label="[HOTEL]" name="id_hotel" type="select" required="1" unique="0" validation="none">
            <options table="pm_hotel" fieldlabel="title" fieldvalue="id" order="title"></options>
        </field>
        <field multi="0" label="Div End" name="div_end4" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start5" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="Floor" name="id_type" type="select" required="0" unique="0" validation="none">
            <options table="pm_floors" fieldlabel="name" fieldvalue="id" order="id"></options>
        </field>
        <field multi="0" label="Div End" name="div_end5" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start6" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[PRICE_PER_NIGHT]" name="price" type="text" required="1" unique="0" validation="numeric" comment="{currency} (default price)"/>
        <field multi="0" label="Div End" name="div_end6" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start7" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[NUMBER_OF_ROOMS]" name="stock" type="text" required="1" unique="0" validation="numeric"/>
        <field multi="0" label="Div End" name="div_end7" type="divend" required="0" unique="0" validation="none"/>
        <!-- <field multi="0" label="room_details_end" name="end0" type="end" required="0" unique="0" validation="none"/> -->
        <field multi="0" label="Div End" name="div_end" type="divend" required="0" unique="0" validation="none"/>


        <field multi="0" label="parentDiv" name="div_start8" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[ROOM_CONFIG]" name="s2" type="separator" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start9" type="divstart" required="0" unique="0" validation="none"/>
		<!-- <field multi="0" label="extra_field_inline" name="st1" type="start" required="0" unique="0" validation="none"/> -->
		<field multi="0" label="[SELET_BED_TYPE]" name="bed_type" type="select" required="0" unique="0" validation="none">
            <options>
                <option value="Queen">Queen</option>
                <option value="King">King</option>
                <!--<option value="Twin">Twin</option>
                 <option value="Single">Single</option>
                <option value="Double">Double</option>
                <option value="Full Sofa Bed">Full Sofa Bed</option>
                <option value="Dorm Bed">Dorm Bed</option>
                <option value="Futon">Futon</option>
                <option value="Tatami Mats">Tatami Mats</option>
                <option value="Murphy Bed">Murphy Bed</option>
                <option value="Run of the House">Run of the House</option> -->
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end9" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start10" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="1" label="[ADDITINAL_BED_TYPE]" name="additional_bed_type" type="text" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end10" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start11" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[NUMBER_OF_BEDS]" name="number_beds" type="select" required="0" unique="0" validation="numeric">
            <options>
                <min>1</min>
                <max>10</max>
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end11" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start12" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="1" label="[DIMENTION_OF_ROOM]" name="room_dimention" type="text" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end12" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start13" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[MAX_CHILDREN]" name="max_children" type="select" required="0" unique="0" validation="numeric">
            <options>
                <min>0</min>
                <max>20</max>
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end13" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start14" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[MAX_ADULTS]" name="max_adults" type="select" required="1" unique="0" validation="numeric">
            <options>
                <min>1</min>
                <max>20</max>
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end14" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start15" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[MAX_PEOPLE]" name="max_people" type="select" required="0" unique="0" validation="numeric">
            <options>
                <min>1</min>
                <max>20</max>
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end15" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start16" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[MIN_PEOPLE]" name="min_people" type="select" required="0" unique="0" validation="numeric">
            <options>
                <min>1</min>
                <max>20</max> 
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end16" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start17" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="1" label="[ROOM_VIEWS]" name="views" type="text" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end17" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start18" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="extra_field_inline" name="end1" type="end" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end18" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end8" type="divend" required="0" unique="0" validation="none"/>


        <field multi="0" label="parentDiv" name="div_start19" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[ROOM_DESCRIPTION]" name="s3" type="separator" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv innerDivFull" name="div_start20" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="1" label="[DESCRIPTION]" name="descr" type="textarea" editor="1" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end20" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end19" type="divend" required="0" unique="0" validation="none"/>


        <field multi="0" label="parentDiv" name="div_start21" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[ROOM_FACILITIES]" name="s4" type="separator" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv innerDivFull" name="div_start22" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[FACILITIES]" name="facilities" type="multiselect" required="0" unique="0" validation="none">
            <options table="pm_facility" fieldlabel="name" fieldvalue="id" order="name" optfilter="type"></options>
        </field>
        <field multi="0" label="Div End" name="div_end22" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end21" type="divend" required="0" unique="0" validation="none"/>



		<field multi="0" label="parentDiv" name="div_start23" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[ROOM_CANCELATION_POLICY]" name="s5" type="separator" required="0" unique="0" validation="none"/>
	    <field multi="0" label="[CANCELATION_POLICY_1]" name="box1" type="box" required="0" unique="0" validation="none"/>
	    <!-- <field multi="0" label="extra_field_inline" name="str11" type="start" required="0" unique="0" validation="none"/> -->
        <field multi="0" label="innerDiv" name="div_start24" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[NUMBER_OF_DAYS_BEFORE]" name="number_of_days_full" type="select" required="0" unique="0" validation="numeric">
            <options>
                <min>1</min>
                <max>30</max>
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end24" type="divend" required="0" unique="0" validation="none"/>
	    <!-- <field multi="0" label="extra_field_inline" name="end11" type="end" required="0" unique="0" validation="none"/> -->
	    <field multi="0" label="[CANCELATION_POLICY_2]" name="box2" type="box" required="0" unique="0" validation="none"/>
	    
	     <!-- <field multi="0" label="extra_field_inline" name="str12" type="start" required="0" unique="0" validation="none"/> -->


         <field multi="0" label="innerDiv" name="div_start25" type="divstart" required="0" unique="0" validation="none"/>
	     <field multi="0" label="[SELECT_NUMBER_OF_DAYS]" name="number_of_days_cancel" type="select" required="0" unique="0" validation="numeric">
            <options>
                <min>1</min>
                <max>30</max>
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end25" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start26" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="1" label="[CANCELATION_FEES]" name="cancel_fees" type="text" required="0" unique="0" validation="numeric"/>
        <field multi="0" label="Div End" name="div_end26" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start27" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[PARCENTAGE_FIXED]" name="fees_type" type="select" required="0" unique="0" validation="none">
            <options>
                <option value="parcentage">PARCENTAGE</option>
                <option value="fixed">FIXED</option>
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end27" type="divend" required="0" unique="0" validation="none"/>
	    <!-- <field multi="0" label="extra_field_inline" name="end12" type="end" required="0" unique="0" validation="none"/> -->
        <field multi="0" label="Div End" name="div_end23" type="divend" required="0" unique="0" validation="none"/>


        <field multi="0" label="parentDiv" name="div_start28" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[ROOM_CLOSING]" name="s6" type="separator" required="0" unique="0" validation="none"/>


        <table label="[CLOSING_DATES]" name="room_closing" fieldref="id_room" multi="0">
            <field multi="0" label="innerDiv innerDivFull" name="div_start" type="divstart" required="0" unique="0" validation="none"/>
			<field multi="0" label="[START_DATE]" name="from_date" type="date" required="1" unique="0" validation="none"/>
			<field multi="0" label="[END_DATE]" name="to_date" type="date" required="1" unique="0" validation="none"/>
			<field multi="0" label="[NUMBER_OF_ROOMS]" name="stock" type="text" required="1" unique="0" validation="numeric"/>
            <field multi="0" label="1" name="div_end" type="divend" required="0" unique="0" validation="none"/>
        </table>

        <table label="[ROOM_ALOCATION_DETAIL] (Provide Name of different rooms)" name="room_names" fieldref="id_room" multi="0">
            <field multi="0" label="innerDiv innerDivFull" name="div_start" type="divstart" required="0" unique="0" validation="none"/>
			<field multi="0" label="[ROOM_NAME]" name="name" type="text" required="1" unique="0" validation="none"/>
            <field multi="0" label="2" name="div_end" type="divend" required="0" unique="0" validation="none"/>
        </table>
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="no_access"/>
        <user type="editor" permissions="no_access"/>
        <user type="hotel" permissions="all"/>
    </roles>
</module>
