<?xml version="1.0" encoding="UTF-8"?>
<module title="[FACILITIES]" name="facility" multi="1" library="0" dashboard="0" icon="wrench" ranking="0" home="0" main="0" validation="0" dates="0" release="0" index="0.6">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="1" resizing="0">
		<big maxw="32" maxh="32"/>
		<medium maxw="400" maxh="300"/>
		<small maxw="200" maxh="150"/>
	</medias>
	<list order="name">
	     <filter label="[TYPE]" name="status">
            <options>
                <option value="hotel">[HOTEL]</option>
                <option value="room">[ROOM]</option>
            </options>
        </filter>
		<col label="[NAME]" name="name" type="none"/>
		<col label="[TYPE]" name="type" type="none"/>
	</list>
	<form>
		<field multi="0" label="parentDiv" name="div_start" type="divstart" required="0" unique="0" validation="none"/>
	    <field multi="0" label="Facility Details" name="s1" type="separator" required="0" unique="0" validation="none"/>
		<field multi="0" label="innerDiv" name="div_start1" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="1" label="[NAME]" name="name" type="text" required="1" unique="0" validation="none"/>
		<field multi="0" label="Div End" name="div_end1" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start2" type="divstart" required="0" unique="0" validation="none"/>
		<field multi="0" label="[TYPE]" name="type" type="select" required="0" unique="0" validation="none">
            <options>
                <option value="hotel">Hotel</option>
                <option value="room">Room</option>
            </options>
        </field>
		<field multi="0" label="Div End" name="div_end2" type="divend" required="0" unique="0" validation="none"/>
		<field multi="0" label="Div End" name="div_end" type="divend" required="0" unique="0" validation="none"/>
	</form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="no_access"/>
        <user type="hotel" permissions="all"/>
    </roles>
</module>
