.cncl_modalbody_top {width:100%;padding: 10px 0;}
.cnclbox {width: 100%;}
.cnclbox h2 {font-size: 14px;color: #535352;font-weight: 600;margin: 0 0 5px;}
.cnclbox p {font-size: 12px;color: #535352;font-weight: 400;margin: 0;line-height: 13px;}
.cnclbox2 {width: 100%;text-align: left;font-size: 15px;color: #000;font-weight: 600;border-left:1px solid #ccc;padding: 0 15px;}
.cnclbox2 b {font-weight: 400;font-size: 12px;}
.cncl_modalbody_bottom {width: 100%;margin-top: 15px;display: inline-block;}
.cncl_modalbody_bottom h2 {margin: 0 0 30px;text-align: center;font-size: 14px;color: #535352;font-weight: 600;}
.cncl_modalbody_bottom a {width:47%;float:left;border:1px solid #ccc;padding: 20px;margin: 0 10px 10px;font-size: 13px;color: #000;font-weight: 400;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;text-align: center;}
.block-active{background: #d6ad39;}
#cancel_btn{width: auto;
display: inline-block;
padding: 4px 15px;background:#07A0A6;border: none;}
#cancel_btn:hover {background: #CDF1F2;color: #000;}
span.loader {
    text-align: center;
    font-size: 60px;
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.6);
    vertical-align: middle;
}
.loader svg{
    margin: 160px;
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.hotelRating__rating {
    border-radius: 0;
    padding: 3px 5px;
    margin-right: 5px;
    background-color: #07A0A6;
    font-size: 11px;
    color: #fff;
}
.hotelRating__wrapper{
    padding:30px 0 20px 30px;
}

.booking_details_top {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
}
.booking_details_top span {
    font-size: 14px;
    color: #535352;
    font-weight: 400;
}
.booking_details_middle {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 20px;
}
.booking_details_middle h2 {
    font-size: 20px;
    color: #535352;
    font-weight: 600;
}
.booking_details_middle h3 {
    font-size: 17px;
    color: #535352;
    font-weight: 400;
    margin: 0 0 10px;
}
.booking_details_middle h4 {
    font-size: 12px;
    color: #535352;
    font-weight: 400;
    margin: 0 0 30px;
}
.booking_details_middle p {
    font-size: 15px;
    color: #535352;
    font-weight: 400;
    margin: 0 0 15px;
}

.wallet_wraper {
    background-color: #fff;
    padding: 20px;
    border-radius: 2px;
}
span#booking-amount_10 {color: transparent;font-size: 0;}

span#booking-amount_10 big b {
    font-size: 0;
}
.modal-body.paymodal svg {
    display: none;
}
/* LOADER 5 */

#loader-5 span{
  display: block;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 20px;
  height: 20px;
  background-color: #3498db;
}

#loader-5 span:nth-child(2){
  animation: moveanimation1 1s ease-in-out infinite;
}

#loader-5 span:nth-child(3){
  animation: moveanimation2 1s ease-in-out infinite;
}

#loader-5 span:nth-child(4){
  animation: moveanimation3 1s ease-in-out infinite;
}

@keyframes moveanimation1{
  0%, 100%{
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }

  75%{
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
  }
}

@keyframes moveanimation2{
  0%, 100%{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  75%{
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
}

@keyframes moveanimation3{
  0%, 100%{
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  75%{
    -webkit-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    transform: translate(30px, 30px);
  }
}
