<?xml version="1.0" encoding="UTF-8"?>
<module title="[RATES]" name="rate" multi="0" library="0" dashboard="1" icon="calendar" ranking="0" home="0" main="0" validation="0" dates="0" release="0" index="0.4">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="0" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="id_room, start_date, id_package">
        <filter label="[HOTEL]" name="id_hotel">
            <options table="pm_hotel" fieldlabel="title" fieldvalue="id" order="title"></options>
        </filter>
        <filter label="[ROOM]" name="id_room">
            <options table="pm_room" fieldlabel="title" fieldvalue="id" order="title" optfilter="id_hotel" filtername="id_hotel"></options>
        </filter>
		<col label="[ROOM]" name="id_room" table="pm_room" fieldvalue="title" fieldref="id"/>
		<col label="[HOTEL]" name="id_hotel" table="pm_hotel" fieldvalue="title" fieldref="id"/>
		<col label="[START_DATE]" name="start_date" type="date"/>
		<col label="[END_DATE]" name="end_date" type="date"/>
		<col label="[PACKAGE]" name="id_package" table="pm_package" fieldvalue="name" fieldref="id"/>
		<col label="[PRICE]" name="price" type="price"/>
	</list>
	<form>
        <field multi="0" label="parentDiv" name="div_start" type="divstart" required="0" unique="0" validation="none"/>
	    <field multi="0" label="Rate Details" name="s1" type="separator" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start1" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[HOTEL]" name="id_hotel" type="select" required="1" unique="0" validation="none">
            <options table="pm_hotel" fieldlabel="title" fieldvalue="id" order="title"></options>
        </field>
        <field multi="0" label="Div End" name="div_end1" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start2" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[ROOM]" name="id_room" type="select" required="1" unique="0" validation="none">
            <options table="pm_room" fieldlabel="title" fieldvalue="id" order="title" optfilter="id_hotel" filtername="id_hotel"></options>
        </field>
        <field multi="0" label="Div End" name="div_end2" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start3" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[START_DATE]" name="start_date" type="date" required="1" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end3" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start4" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[END_DATE]" name="end_date" type="date" required="1" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end4" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start5" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[PACKAGE]" name="id_package" type="select" required="0" unique="0" validation="none">
            <options table="pm_package" fieldlabel="name" fieldvalue="id" order="name"/>
        </field>
        <field multi="0" label="Div End" name="div_end5" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start6" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[PRICE_PER_NIGHT]" name="price" type="text" required="1" unique="0" validation="numeric" comment="{currency}"/>
        <field multi="0" label="Div End" name="div_end6" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start7" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[MAX_PEOPLE]" name="people" type="text" required="1" unique="0" validation="numeric" comment="[NUM_PEOPLE_NOTICE]"/>
        <field multi="0" label="Div End" name="div_end7" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start8" type="divstart" required="0" unique="0" validation="none"/>
        <!-- Start Extra adult and extra child wise price -->
        <field multi="0" label="[PRICE_PER_EXTRA_ADULT_PER_NIGHT]" name="price_sup" type="text" required="0" unique="0" validation="numeric" comment="{currency} [DISCOUNT_RATE]"/>
        <field multi="0" label="Div End" name="div_end8" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start9" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[PRICE_PER_EXTRA_CHILD_PER_NIGHT]" name="child_price" type="text" required="0" unique="0" validation="numeric" comment="{currency} [DISCOUNT_RATE]"/>
        <field multi="0" label="Div End" name="div_end9" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start10" type="divstart" required="0" unique="0" validation="none"/>
        <!-- End Extra adult and extra child wise price -->
        
        <!--<field multi="0" label="[FIXED_SUPP_PER_STAY]" name="fixed_sup" type="text" required="0" unique="0" validation="numeric" comment="{currency} ([INCL_TAX])"/>-->
        <field multi="0" label="[DISCOUNT]" name="discount" type="text" required="0" unique="0" validation="numeric"/>
        <field multi="0" label="Div End" name="div_end10" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv innerDivFull" name="div_start11" type="divstart" required="0" unique="0" validation="none"/>
        <field multi="0" label="[DISCOUNT_TYPE]" name="discount_type" type="radio" required="0" unique="0" validation="none">
            <options>
                <option value="fixed">{currency} [DISCOUNT_FIXED]</option>
                <option value="rate"> [EXCEPT_SUPP]</option>
            </options>
        </field>
        <field multi="0" label="Div End" name="div_end11" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="innerDiv" name="div_start12" type="divstart" required="0" unique="0" validation="none"/>
		<!--<field multi="0" label="[INCLUDED_TAX]" name="id_tax" type="select" required="0" unique="0" validation="none" comment="[INCLUDED_TAX_NOTICE]">
			<options table="pm_tax" fieldlabel="name - value" fieldvalue="id" order="rank"/>
		</field>-->
        <field multi="0" label="[ADDED_TAXES]" name="taxes" type="select" required="0" unique="0" validation="none" comment="[ADDED_TAXES_NOTICE]">
            <options table="pm_tax" fieldlabel="name - value" fieldvalue="id"  order="rank"/>
        </field>
		<field multi="0" label="Div End" name="div_end12" type="divend" required="0" unique="0" validation="none"/>
        <field multi="0" label="Div End" name="div_end" type="divend" required="0" unique="0" validation="none"/>
	    <!--<table label="[CHILDREN_RATES]" name="rate_child" fieldref="id_rate">
            <field multi="0" label="[MIN_AGE]" name="min_age" type="select" required="1" unique="0" validation="numeric">
                <options>
					<min>0</min>
					<max>17</max>
                </options>
            </field>
            <field multi="0" label="[MAX_AGE]" name="max_age" type="select" required="1" unique="0" validation="numeric">
                <options>
					<min>0</min>
					<max>17</max>
                </options>
            </field>
            <field multi="0" label="[PRICE]" name="price" type="text" required="1" unique="0" validation="numeric" comment="{currency} ([INCL_TAX])"/>
        </table> -->
    </form>
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="no_access"/>
        <user type="editor" permissions="no_access"/>
        <user type="hotel" permissions="all"/>
    </roles>
</module>
